
/*============ Very large Device ===========*/
@media (min-width:1601px) and (max-width:1715px){
    .inner_main_nav_area >ul >li >a {
        margin: 30px 20px 30px;
    }
}
/*============ Desktop Device ===========*/
@media (min-width:1366px) and (max-width:1600px){
    .inner_main_nav_area >ul >li >a {
        margin: 30px 7px 30px;
    }
    .inner_subscribe_left_cont h2 {
        font-size: 46px;
    }
}
/*============ Laptop Device ===========*/
@media (min-width:1024px) and (max-width:1365px){
    h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
        font-weight: 500;
    }
    .main_menu_area {
        padding: 0 10px;
    }
    .header_top_area{
        padding: 12px 20px;
    }
    .inner_main_nav_area >ul >li >a {
        margin: 30px 9px 30px;
        font-size: 15px;
    }
    .main_menu_address_a {
        margin-left: 10px;
    }
    .main_nav_icons >i {
        margin-left: 10px;
    }
    .dtbtn {
        background-color: var(--brcolor);
        margin-left: 0px;
        padding: 7px 25px;
    }   
    .inner_slider_area {
        height: 750px;
    }
    ul.tab_blog li a {
        padding: 24px 40px;
    }
    .absolute_icons {
        top: 35%;
        left: 35%;
    }
    .subscribe_area {
        margin: 60px 0 -60px;
    }
    .footer_content {
        gap: 108px;
    }
}

/*============= Tablet Large device ===============*/
@media (min-width:992px) and (max-width:1023px){
    h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
        font-weight: 500;
    }
    .main_menu_area{
        padding: 0 20px;
    }
    .inner_main_nav_area >ul >li >a {
        margin: 30px 2px 30px;
        font-size: 15px;
    }
    .slider_area {
        height: 750px;
    }
    .inner_slider_area {
        height: 770px;
    }
    .absolute_icons {
        top: 35%;
        left: 35%;
    }
    .subscribe_area {
        margin: 60px 0 -60px;
    }
    .footer_content {
        gap: 80px;
    }
}
/*============= Tablet device ===============*/
@media (min-width:768px) and (max-width:991px){
    h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
        font-weight: 500;
    }
    .header_left, .header_top_middle, .header_right{
        text-align: center !important;
    }
    .mobile_logo_area{
        display: block !important;
        padding: 10px 0;
    }
     /* main nav area css */
     .main_menu_area{
        display: none;
    }
     /* slider area css */
     .inner_slider_area {
        height: 500px;
    }
    .inner_slider_content h2, .inner_slider_content h3 {
        font-size: 40px;
    }
    .about_title h2 {
        font-size: 33px;
    }
    .inner_contact_content h2 {
        font-size: 44px;
    }
    .video_area {
        padding: 85px 0;
    }
    ul.tab_blog li a {
        padding: 12px 12px;
        font-size: 16px;
    }
    .text-end.ebentbtn {
        text-align: center !important;
    }
    .tab_blog {
        display: flex;
    }
    .wblogmeta_item {
        margin-top: 24px;
    }
    .subscribe_area {
        margin: 60px 0 -60px;
    }
    .footer_content {
        display: block;
    }
    #scrollUp {
        bottom: 53px;
    }
}

/*============= mobile large device ===============*/
@media (max-width:767px){
    h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
        font-weight: 500;
        font-size: 18px;
    }
    .mobile_logo_area{
        display: block !important;
        padding: 10px 0;
    }
     /* main nav area css */
     .main_menu_area{
        display: none;
    }
     /* slider area css */
     .inner_slider_area {
        height: 500px;
    }
    .inner_slider_content h2, .inner_slider_content h3 {
        font-size: 40px;
    }
    .inner_breadcum_area h1 {
        font-size: 34px;
    }
    .portfolio_title h3 {
        font-size: 35px;
    }
    .inner_slider_content {
        padding-top: 0;
    }
    .about_area {
        padding: 0;
    }
    .about_title h2 {
        font-size: 33px;
    }
    .feature_area {
        padding: 40px 0 60px;
    }
    .inner_video_area a {
        transform: translate(0, -16%);
    }
    .inner_contact_content h2 {
        font-size: 33px;
    }
    .text-end.ebentbtn {
        text-align: center !important;
    }
    .wblogmeta_item {
        margin-top: 40px;
        text-align: center;
    }
    .testimonial_area {
        padding: 30px 0;
    }
    .subscribe_area {
        margin: 60px 0 -60px;
    }
    .footer_content {
        gap: 145px;
    }
    .copy-right-text p {
        margin: 0 0 -24px;
    }
}

/*============= mobile device ===============*/
@media (min-width:320px) and (max-width:480px){
    .inner_slider_content {
        margin: 10px;
        text-align: center;
        width: 100%;
    }
    .inner_slider_content p {
        width: 100%;
    }
.inner_subscribe_form_area button {
    font-size: 14px;
    padding: 10px 0;
}
.single_video_text h2 {
    font-size: 30px;
}
.inner_video_area a {
    transform: translate(0, 30%);
}
.tab_blog {
    display: block;
}
.img_port_area {
    margin: 0;
}
.inner_subscribe_left_cont h2 {
    font-size: 30px;
}
.section_title_area h2 {
    font-size: 30px;
}
.faq_area {
    padding: 120px 0 100px;
}
.footer_area {
    text-align: center;
}
.footer_content {
    display: block;
}
.footer_widget p {
    width: 100%;
}
.copyright_area {
    text-align: center;
}
.copy-right-text p {
    margin: 0;
}
.footer_widget h4::after {
    margin: auto;
}
.ycalender_inner th {
    padding: 10px 13px;
}
#scrollUp {
    bottom: 78px;
}
}